<div class="row tag_cloud text-center">
	<%= link_to image_tag('tag-32.png'), articles_path ,class: "" %>
	<%= link_to 'All', articles_path ,class: "label label-info tags" %>	
	<%  groups.each do |group| %>
		<%= link_to group.name, group_path(group.name), class: tag_class(group.level) %>
	<% end %>

<%= link_to  image_tag('find-32.png') , search_articles_path , class: "" %>
<%= link_to  image_tag('add-32.png') , new_article_path , class: "" %>
</div>


