
<% cache @article do %>
<% content_for :slidebar do %>

<% if @article.image.present? %>
<main class="bs-docs-masthead bgbox" role="main" style="background-image: url(<%=  @article.image_processed? ?  @article.image_url(:list) : @article.image.url  %>) ">
</main>
<% else %>
  <main class="bs-docs-masthead bgbox" role="main" style="background-image: 'bg.jpg';"></main>
<% end %>
<div class="article-container">
  <div class='bs-docs-masthead'>
    <p><h2 class="title"><%= @article.title.titleize %></h2></p>    
    <p class="lead"><h4 class="writer"> <%= @article.to_writer %></h4></p>
    <p class="lead"><%=render 'tag_items', {tags: @article.groups } %></p>
  </div>
</div>
<% end %>

<div class="row"> 
  <div class="col-xs-12  col-sm-12 ">
    <p> <%= @article.content %></p>
  </div>
  <div class="col-xs-12  col-sm-12 col-md-12">
  <%= link_to 'Back', params[:group] ? group_path(params[:group]) : articles_path  , :class => "btn btn-default"    %>
  <%= link_to 'Edit', edit_article_path(@article)  , :class => "btn btn-default" if current_user?(@article.user)   %>
  <%= link_to "Like", like_article_path(@article), :class => "btn btn-default" , method: :put ,id:'btn_like', remote: true , :style => @voter.voted_up_on?(@article) ?  'display: none;' : 'display: inline;'  %>
  <%= link_to "Dislike", dislike_article_path(@article), :class => "btn btn-default" , method: :put ,id:'btn_dislike', remote: true , :style => @voter.voted_up_on?(@article) ?  'display: inlinie;' : 'display: none;'   %>
  <%= link_to pluralize(@article.comments_count, "Comment"),  article_comments_path(@article) , :class => "btn btn-default"  %>
  </div>
</div>
<div class="focal-point imagebox right-1 up-1">
<% if @article.image_processed? %>
   <div><%= image_tag(@article.image_url(:list), :class=> 'media-object') %></div>
<% else %>
   <div><%= image_tag(@article.image_url, :class=> 'media-object') %></div>
<% end %>
</div>
<% end %>

